<header class="header-main flx-c-w">

    <section class="header-info-container flx-r-w">
        <p>Información Importante</p>
        <a class="tracking-icon flx-r-w" href="">
            Tracking
            <i class="fa-solid fa-location-crosshairs flx-r-w"></i>
        </a>
    </section>

    <section class="header-main-container flx-r-w">

        <a class="main-logo-container flx-r-w" href="/">
            <img src="/img/logo-horizontal-blanco.png" alt="">
        </a>
        
        <div class="main-icons-container flx-r-w">
            <div class="mode-container flx-r-w">
                <input type="checkbox" name="darkMode" id="dark-mode-input">
                <div class="dark-mode-btn flx-r-nw">
                    <div></div>
                </div>
                <i class="sun-icon fa-solid fa-sun"></i>
                <i class="moon-icon fa-solid fa-moon"></i>
            </div>
            <i class="heart-icon fa-solid fa-heart flx-r-w"></i>
            <i class="cart-icon fa-solid fa-cart-shopping flx-r-w"></i>
            <i class="login-icon fa-solid fa-right-to-bracket flx-r-w"></i>
            <div class="user-icon-container">
                <i class="user-icon fa-solid fa-user flx-r-w"></i>
                <p class="user-notifications flx-r-w">00</p>
            </div>
        </div>

        <div class="main-search-bar flx-r-w">
            <label class="search-label flx-r-w" for="search-btn">
                <input type="text" name="" id="search-btn" placeholder="Busqueda de Productos">
                <i class="search-icon fa-solid fa-magnifying-glass flx-r-w"></i>
            </label>
        </div>
    </section>

    <nav class="header-nav flx-r-w">
        <ul class="menu-container flx-c-w">
            <li class="menu-title flx-c-w" onclick="subMenuController(this)" status = "false">Menu 1</li>
            <ul class="sub-menu-container flx-c-w">
                <li>
                    <a href="">Sub-menu1</a>
                </li>
                <li>
                    <a href="">Sub-menu2</a>
                </li>
                <li>
                    <a href="">Sub-menu3</a>
                </li>
            </ul>
        </ul>
        <ul class="menu-container flx-c-w">
            <li class="menu-title flx-c-w" onclick="subMenuController(this)" status = "false">Menu 1</li>
            <ul class="sub-menu-container flx-c-w">
                <li>
                    <a href="">Sub-menu4</a>
                </li>
                <li>
                    <a href="">Sub-menu5</a>
                </li>
                <li>
                    <a href="">Sub-menu6</a>
                </li>
            </ul>
        </ul>
        <ul class="menu-container flx-c-w">
            <li class="menu-title flx-c-w" onclick="subMenuController(this)" status = "false">Menu 1</li>
            <ul class="sub-menu-container flx-c-w">
                <li>
                    <a href="">Sub-menu7</a>
                </li>
                <li>
                    <a href="">Sub-menu8</a>
                </li>
                <li>
                    <a href="">Sub-menu9</a>
                </li>
            </ul>
        </ul>
        <ul class="menu-container flx-c-w">
            <li class="menu-title flx-c-w" onclick="subMenuController(this)" status = "false">Menu 1</li>
            <ul class="sub-menu-container flx-c-w">
                <li>
                    <a href="">Sub-menu10</a>
                </li>
                <li>
                    <a href="">Sub-menu11</a>
                </li>
                <li>
                    <a href="">Sub-menu12</a>
                </li>
            </ul>
        </ul>
    </nav>
    
</header>