<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/favicon.png" type="image/x-icon">

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500&display=swap" rel="stylesheet">

    <!-- FONTAWESOME -->
    <script src="https://kit.fontawesome.com/d651fc4f2d.js" crossorigin="anonymous"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/forms.css">
    <title>Gotec</title>
</head>
<body class="flx-r-w">
    <section class="entry-options flx-r-w">
        <button id="btn-exit-entry">
            <i class="fa-solid fa-x"></i>
        </button>
        
        <a href="/register" class="flx-r-w">
            <button id="btn-register">Registrate Ahora</button>
        </a>
        <a class="main-logo-container entry-logo flx-r-w" href="/">
            <img src="/img/logo-horizontal-blanco.png" alt="">
        </a>
        <a href="/login" class="flx-r-w">
            <button id="btn-login">¿Ya tenés Cuenta?</button>
        </a>
    </section>
    <header class="header-main flx-c-w">

        <section class="header-info-container flx-r-w">
            <p>Información Importante</p>
            <a class="tracking-icon flx-r-w" href="">
                Tracking
                <i class="fa-solid fa-location-crosshairs flx-r-w"></i>
            </a>
        </section>

        <section class="header-main-container flx-r-w">

            <a class="main-logo-container flx-r-w" href="/">
                <img src="/img/logo-horizontal-blanco.png" alt="">
            </a>
            
            <div class="main-icons-container flx-r-w">
                <div class="mode-container flx-r-w">
                    <input type="checkbox" name="darkMode" id="dark-mode-input">
                    <div class="dark-mode-btn flx-r-nw">
                        <div></div>
                    </div>
                    <i class="sun-icon fa-solid fa-sun"></i>
                    <i class="moon-icon fa-solid fa-moon"></i>
                </div>
                <i class="heart-icon fa-solid fa-heart flx-r-w"></i>
                <i class="cart-icon fa-solid fa-cart-shopping flx-r-w"></i>
                <i class="login-icon fa-solid fa-right-to-bracket flx-r-w"></i>
                <div class="user-icon-container">
                    <i class="user-icon fa-solid fa-user flx-r-w"></i>
                    <p class="user-notifications flx-r-w">00</p>
                </div>
            </div>

            <div class="main-search-bar flx-r-w">
                <label class="search-label flx-r-w" for="search-btn">
                    <input type="text" name="" id="search-btn" placeholder="Busqueda de Productos">
                    <i class="search-icon fa-solid fa-magnifying-glass flx-r-w"></i>
                </label>
            </div>
        </section>

        <nav class="header-nav flx-r-w">
            <ul class="menu-container flx-c-w">
                <li class="menu-title flx-c-w" onclick="subMenuController(this)" status = "false">Menu 1</li>
                <ul class="sub-menu-container flx-c-w">
                    <li>
                        <a href="">Sub-menu1</a>
                    </li>
                    <li>
                        <a href="">Sub-menu2</a>
                    </li>
                    <li>
                        <a href="">Sub-menu3</a>
                    </li>
                </ul>
            </ul>
            <ul class="menu-container flx-c-w">
                <li class="menu-title flx-c-w" onclick="subMenuController(this)" status = "false">Menu 1</li>
                <ul class="sub-menu-container flx-c-w">
                    <li>
                        <a href="">Sub-menu4</a>
                    </li>
                    <li>
                        <a href="">Sub-menu5</a>
                    </li>
                    <li>
                        <a href="">Sub-menu6</a>
                    </li>
                </ul>
            </ul>
            <ul class="menu-container flx-c-w">
                <li class="menu-title flx-c-w" onclick="subMenuController(this)" status = "false">Menu 1</li>
                <ul class="sub-menu-container flx-c-w">
                    <li>
                        <a href="">Sub-menu7</a>
                    </li>
                    <li>
                        <a href="">Sub-menu8</a>
                    </li>
                    <li>
                        <a href="">Sub-menu9</a>
                    </li>
                </ul>
            </ul>
            <ul class="menu-container flx-c-w">
                <li class="menu-title flx-c-w" onclick="subMenuController(this)" status = "false">Menu 1</li>
                <ul class="sub-menu-container flx-c-w">
                    <li>
                        <a href="">Sub-menu10</a>
                    </li>
                    <li>
                        <a href="">Sub-menu11</a>
                    </li>
                    <li>
                        <a href="">Sub-menu12</a>
                    </li>
                </ul>
            </ul>
        </nav>
        
    </header>
    <main class="main-section flx-r-w">
        <article class="beside flx-r-w">
            <img src="/img/logo-horizontal.png" alt="logo image" id="logo-beside">
        </article>
        <form class="register-form flx-c-w" action="/login-form" method="post">
          
            <div class="profile-img-section flx-c-w">
              <div class="profile-img-container">
                <img src="/img/user-img.svg" alt="user-image" id="profile-img">
              </div>
            </div>
  
            <h3 class="personal-info-tittle">Log In</h3>
  
            <div class="input-container flx-c-w" id="user-name-conatiner">
              <input class="input-config" type="text" name="userName" id="user-Name" required>
              <label class="label-config user-name-label" for="user-Name">Nombre de Usuario</label>
            </div>
            <div class="input-container flx-c-w" id="user-password-conatiner">
              <input class="input-config" type="password" name="password" id="user-password" required>
              <label class="label-config user-password-label" for="user-password">Contraseña</label>
            </div>
  
            <section class="option-container flx-r-w">
              <div class="rememberme-container switch-container flx-r-nw">
                <input type="checkbox" class="switch-input"name="userswitch" id="rememberme-button" value="remember">
                <label class="switch-label" for="rememberme-button">Remember Me</label>
                <div class="switch-button flx-r-nw">
                  <div></div>
                </div>
              </div>
              <div class="forgot-container">
                <a href="#">Forgot Password?</a>
              </div>
  
            </section>
   
            <div class="input-container flx-r-nw" id="forms-bts-container">
              <button  type="submit" id="login-btn">Ingresar</button>
            </div>
  
          </form>
    </main>

    <footer class="main-footer flx-r-w">
        <section class="footer-main-section flx-r-w">

            <div class="footer-logo-container flx-r-w">
                <img src="/img/logo-cuadrado-blanco.png" alt="">
            </div>

            <div class="footer-main-container flx-r-w">
                <div class="footer-info-container flx-r-w">
                    <ul class="footer-info-list flx-r-w">
                        <li>
                            <a href="">Contact</a>
                        </li>
                        <li>
                            <a href="">FAQ</a>
                        </li>
                        <li>
                            <a href="">About Us</a>
                        </li>
                    </ul>

                    <div class="footer-brands-container flx-r-w">
                        <div class="carousel-brand-container flx-r-nw">
                            <i class="previous-icon fa-solid fa-caret-left flx-r-w"></i>
                            <div class="brands-img-container flx-r-nw">
                                <img src="/img/Brand-Logos/amd.png" alt="">
                                <img src="/img/Brand-Logos/asus.png" alt="">
                                <img src="/img/Brand-Logos/gigabyte.png" alt="">
                            </div>
                            <i class="next-icon fa-solid fa-caret-right flx-r-w"></i>
                        </div>
                    </div>
                </div>

                <div class="footer-social-media-container flx-r-w">
                    <i class="facebook-icon fa-brands fa-facebook flx-r-w"></i>
                    <i class="insta-icon fa-brands fa-instagram flx-r-w"></i>
                    <i class="x-icon fa-brands fa-x-twitter flx-r-w"></i>
                </div>

            </div>


        </section>

        <section class="footer-copyright-section flx-r-w">
            <p>© Copyright - CoderCrafters - Equipo 4DH</p>
        </section>
        
    </footer>

    <!-- Scripts JS -->
    <script src="/darkmode-controller"></script>
    <script src="/submenu-controller"></script>
</body>
</html>

