<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/favicon.png" type="image/x-icon">

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500&display=swap" rel="stylesheet">

    <!-- FONTAWESOME -->
    <script src="https://kit.fontawesome.com/d651fc4f2d.js" crossorigin="anonymous"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/productDetail.css">
    <title>Gotec</title>
</head>
<body>
    <header class="header-main flx-c-w">

        <section class="header-info-container flx-r-w">
            <p>Información Importante</p>
            <a class="tracking-icon flx-r-w" href="">
                Tracking
                <i class="fa-solid fa-location-crosshairs flx-r-w"></i>
            </a>
        </section>

        <section class="header-main-container flx-r-w">

            <div class="main-logo-container flx-r-w">
                <img src="/img/logo-horizontal-blanco.png" alt="">
            </div>
            
            <div class="main-icons-container flx-r-w">
                <div class="mode-container flx-r-w">
                    <input type="checkbox" name="darkMode" id="dark-mode-input">
                    <div class="dark-mode-btn flx-r-nw">
                        <div></div>
                    </div>
                    <i class="sun-icon fa-solid fa-sun"></i>
                    <i class="moon-icon fa-solid fa-moon"></i>
                </div>
                <i class="heart-icon fa-solid fa-heart flx-r-w"></i>
                <i class="cart-icon fa-solid fa-cart-shopping flx-r-w"></i>
                <div class="user-icon-container">
                    <i class="user-icon fa-solid fa-user flx-r-w"></i>
                    <p class="user-notifications flx-r-w">00</p>
                </div>
            </div>

            <div class="main-search-bar flx-r-w">
                <label class="search-label flx-r-w" for="search-btn">
                    <input type="text" name="" id="search-btn" placeholder="Busqueda de Productos">
                    <i class="search-icon fa-solid fa-magnifying-glass flx-r-w"></i>
                </label>
            </div>
        </section>

        <nav class="header-nav flx-r-w">
            <ul class="menu-container flx-c-w">
                <li class="menu-title flx-c-w" onclick="subMenuController(this)" status = "false">Menu 1</li>
                <ul class="sub-menu-container flx-c-w">
                    <li>
                        <a href="">Sub-menu1</a>
                    </li>
                    <li>
                        <a href="">Sub-menu2</a>
                    </li>
                    <li>
                        <a href="">Sub-menu3</a>
                    </li>
                </ul>
            </ul>
            <ul class="menu-container flx-c-w">
                <li class="menu-title flx-c-w" onclick="subMenuController(this)" status = "false">Menu 1</li>
                <ul class="sub-menu-container flx-c-w">
                    <li>
                        <a href="">Sub-menu4</a>
                    </li>
                    <li>
                        <a href="">Sub-menu5</a>
                    </li>
                    <li>
                        <a href="">Sub-menu6</a>
                    </li>
                </ul>
            </ul>
            <ul class="menu-container flx-c-w">
                <li class="menu-title flx-c-w" onclick="subMenuController(this)" status = "false">Menu 1</li>
                <ul class="sub-menu-container flx-c-w">
                    <li>
                        <a href="">Sub-menu7</a>
                    </li>
                    <li>
                        <a href="">Sub-menu8</a>
                    </li>
                    <li>
                        <a href="">Sub-menu9</a>
                    </li>
                </ul>
            </ul>
            <ul class="menu-container flx-c-w">
                <li class="menu-title flx-c-w" onclick="subMenuController(this)" status = "false">Menu 1</li>
                <ul class="sub-menu-container flx-c-w">
                    <li>
                        <a href="">Sub-menu10</a>
                    </li>
                    <li>
                        <a href="">Sub-menu11</a>
                    </li>
                    <li>
                        <a href="">Sub-menu12</a>
                    </li>
                </ul>
            </ul>
        </nav>
        
    </header>

    <main class="main-section flx-r-w">

        <section class="info-item-container flx-r-w">

            <article class="product-img-container flx-r-w">
                <img src="https://http2.mlstatic.com/D_NQ_NP_899654-MLA70862091276_082023-W.webp" alt="">
                <i class="like-img-icon fa-regular fa-heart flx-r-w"></i>
                <div class="controller-img-container flx-r-w">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </article>

            <article class="product-info-container flx-r-w">

                <div class="product-title-section flx-r-w">
                    <p class="product-title">Zapatilla X</p>
                    <p class="product-description">
                        <span class="description-title">Descripción:</span> <span class="description-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit cumque esse vero dignissimos maxime, adipisci dolore sit?</span>
                    </p>
                </div>

                <div class="product-quantity-quality-section flx-r-w">
                    <div class="quantity-container flx-r-w">
                        <i class="minus-icon fa-solid fa-minus flx-r-w"></i>
                        <input type="number" class="quantity-input" value="1" oninput="return false;">
                        <i class="plus-icon fa-solid fa-plus flx-r-w"></i>
                    </div>
                    <p class="rest-quantity">Quedan 3 unidades</p>
                    <div class="quality-container flx-r-w">
                        <img src="/img/star-svgrepo-com.svg" alt="">
                        <img src="/img/star-svgrepo-com.svg" alt="">
                        <img src="/img/star-svgrepo-com.svg" alt="">
                        <img src="/img/star-svgrepo-com.svg" alt="">
                        <img src="/img/star-svgrepo-com.svg" alt="">
                    </div>
                </div>

                <div class="product-price-section flx-r-w">
                    <p class="product-price">25.000</p>
                    <p class="product-payment-details">Mismo Precio en 6 cuotas</p>
                </div>

                <div class="product-btns-section flx-r-w">
                    <button class="btn-buy flx-r-w">Comprar Ahora</button>
                    <button class="btn-add-cart flx-r-w">Agregar al Carrito</button>
                </div>

            </article>

        </section>

        <section class="feature-item-container flx-r-w">
            <h3>Características</h3>
            <div class="all-feature-container flx-r-w">
                <article class="item-feature flx-c-w">
                    <div class="feature-title flx-r-w">
                        <i class="fa-solid fa-memory"></i>
                        <h4>Memoria RAM</h4>
                    </div>
                    <ul class="feature-list flx-c-w">
                        <li>Capacidad: 8 Gigas</li>
                        <li>Formato: SODIMM</li>
                        <li>Expandible: No</li>
                    </ul>
                </article>
                <article class="item-feature flx-c-w">
                    <div class="feature-title flx-r-w">
                        <i class="fa-solid fa-microchip"></i>
                        <h4>Procesador</h4>
                    </div>
                    <ul class="feature-list flx-c-w">
                        <li>Intel: Core i3</li>
                        <li>Modelo: 1115G4</li>
                        <li>Núcleos: 2</li>
                        <li>Frecuencia: 4.10Ghz</li>
                        <li>Caché: 6Mb Cache</li>
                    </ul>
                </article>
                <article class="item-feature flx-c-w">
                    <div class="feature-title flx-r-w">
                        <i class="fa-solid fa-display"></i>
                        <h4>Pantalla</h4>
                    </div>
                    <ul class="feature-list flx-c-w">
                        <li>Tamaño: 14.1"</li>
                        <li>Resolucion: 1920x1080</li>
                        <li>Tecnologia: FHD</li>
                    </ul>
                </article>
                <article class="item-feature flx-c-w">
                    <div class="feature-title flx-r-w">
                        <i class="fa-brands fa-windows"></i>
                        <h4>Sistema Operativo</h4>
                    </div>
                    <ul class="feature-list flx-c-w">
                        <li>Windows 11: Home</li>
                        <li>Versión: 64-bits</li>
                    </ul>
                </article>
                <article class="item-feature flx-c-w">
                    <div class="feature-title flx-r-w">
                        <i class="fa-solid fa-hard-drive"></i>
                        <h4>Almacenamiento</h4>
                    </div>
                    <ul class="feature-list flx-c-w">
                        <li>Disco Sólido: 256Gb</li>
                    </ul>
                </article>
            </div>
        </section>

        <section class="details-item-container">

        </section>

        <section class="comments-item-container">

        </section>

    </main>

    <footer class="main-footer flx-r-w">
        <section class="footer-main-section flx-r-w">

            <div class="footer-logo-container flx-r-w">
                <img src="/img/logo-cuadrado-blanco.png" alt="">
            </div>

            <div class="footer-main-container flx-r-w">
                <div class="footer-info-container flx-r-w">
                    <ul class="footer-info-list flx-r-w">
                        <li>
                            <a href="">Contact</a>
                        </li>
                        <li>
                            <a href="">FAQ</a>
                        </li>
                        <li>
                            <a href="">About Us</a>
                        </li>
                    </ul>

                    <div class="footer-brands-container flx-r-w">
                        <div class="carousel-brand-container flx-r-nw">
                            <i class="previous-icon fa-solid fa-caret-left flx-r-w"></i>
                            <div class="brands-img-container flx-r-nw">
                                <img src="/img/Brand-Logos/amd.png" alt="">
                                <img src="/img/Brand-Logos/asus.png" alt="">
                                <img src="/img/Brand-Logos/gigabyte.png" alt="">
                            </div>
                            <i class="next-icon fa-solid fa-caret-right flx-r-w"></i>
                        </div>
                    </div>
                </div>

                <div class="footer-social-media-container flx-r-w">
                    <i class="facebook-icon fa-brands fa-facebook flx-r-w"></i>
                    <i class="insta-icon fa-brands fa-instagram flx-r-w"></i>
                    <i class="x-icon fa-brands fa-x-twitter flx-r-w"></i>
                </div>

            </div>


        </section>

        <section class="footer-copyright-section flx-r-w">
            <p>© Copyright - CoderCrafters - Equipo 4DH</p>
        </section>
        
    </footer>

    <!-- Scripts JS -->
    <script src="/darkmode-controller"></script>
    <script src="/submenu-controller"></script>
</body>
</html>