.filterSection {
    position: sticky;
    top: 0;
    width: 0px;
    justify-content: flex-start;
    align-self: self-start;
    min-height: 100vh;
    min-width: 0px;
    background-color: var(--blanco-gotec);
    overflow: hidden;
    opacity: 0;
    transition: width 0.15s linear, opacity 0.1s linear;

}

#filterBtn {
    all: unset;
    display: block;
    position: absolute;
    cursor: pointer;
    width: 80px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid var(--verde-oscuro-gotec);
    background-color: var(--blanco-gotec);
    top: 30px;
    left: 30px;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--verde-oscuro-gotec);
    z-index: 3;
}

.titleContainer {
    position: relative;
    width: 100%;
}

.filterTitle {
    width: 100%;
    height: 2.5rem;
    border-bottom: 1px solid var(--gris-intermedio-gotec);
    color: var(--verde-oscuro-gotec);
    letter-spacing: 2px;
    margin-top: 20px;
    padding-left: 10px;
}


#filterExit {
    position: absolute;
    cursor: pointer;
    right: 10px;
    font-size: 16px;

}

#resetBtn {
    all: unset;
    cursor: pointer;
    width: 50%;
    height: 30px;
    border-radius: 15px;
    background-color: var(--verde-oscuro-gotec);
    font-size: 13px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 2px;
    color: var(--blanco-gotec);
    z-index: 3;
    margin-top: 20px;
}

.cardConatiner {
    width: 90%;
    min-height: 100vh;
    align-items: flex-start;
    
    padding-bottom: 70px !important;
}

/*  Articles de filtros */

.filterArt {
    padding-left: 15px;
    margin-top: 20px;
    width: 100%;
    font-size: 16px;
    color: var(--verde-oscuro-gotec);
}

.filterArt h4 {
    width: 100%;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 8px;
    color: var(--verde-oscuro-gotec);
}

.filterArt select {
    width: 90%;
    height: 30px;
    font-size: 16px;
    border-radius: 3px;
    border: 0.5px solid var(--verde-oscuro-gotec);
    letter-spacing: 1px;
    margin-bottom: 8px;
    color: var(--verde-oscuro-gotec);
}



.rangeLabel {
    font-size: 15px;
    width: 40%;
    height: 30px;
    margin-right: 10px;
    margin-top: 10px;
    letter-spacing: 1px;
}

.rangeInput {
    width: 40%;
    height: 30px;
    border-radius: 3px;
    border: 0.5px solid var(--verde-oscuro-gotec);
    color: var(--verde-oscuro-gotec);
    text-align: center;
    margin-top: 10px;
}

#errorVerify {
    display: none;
    margin-top: 8px;
    font-size: 11px;
    color: red;
    letter-spacing: 1px;
}

/* PAGINATIONS CONTROLLERS */

.paginationControllers {
    position: absolute;
    bottom: 20px;
    width: 80%;
    height: 50px;
    color: var(--verde-oscuro-gotec);
    font-size: 16px
}

#previousPage,
#nextPage {
    width: 100px;
    cursor: pointer;
    justify-content: space-evenly;
    font-weight: 400;
    letter-spacing: 1px;
}

#nextPage {
    width: 110px;
    margin-left: 15px;
}

#previousPage {
    margin-right: 15px;
}

.pageNumber{
    cursor: pointer;
    font-size: 14px;
    margin: 0px 8px;
}



/* MEDIAS QUERIES */

@media (width >=660px) {
    .filterSection {
        width: 15%;
        min-width: 220px;
        max-width: 250px;
        opacity: 1;

    }

    #filterBtn {
        display: none;
    }

    #filterExit {
        display: none;

    }
}