:root {
    --verde-gotec: #67b599;
    --verde-oscuro-gotec: #579981;
    --azul-gotec: #233d76;
    --azul-intermedio-gotec: #1f3566;
    --azul-oscuro-gotec:#182033;
    --blanco-gotec: #fff;
    --negro-gotec: #000;
    --gris-claro-gotec: #ebebeb;
    --gris-intermedio-gotec: #c0c0c0;
    --gris-oscuro-gotec: #666;
    --amarillo-gotec: #fbfd92;
    --violeta-gotec: #290147;
    --violeta-oscuro-gotec: #1b0030;
}

.edit-container{
    max-width: 1000px;
    background-color: #f8f8f8;
    margin: 25px 0px;
    padding: 20px;
    display: flex;
    flex-flow: column;

}

form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 12px;
    box-shadow: #0001 0px 0px 10px;
    padding: 50px;

}
main{
    width: 100vw;
    background-color: var(--gris-claro-gotec);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

main input {
    all:unset;
    font-size: 16px;
    font-weight: bold;
    color: #233d76;
}
main button {
    all:unset;
    background-color: rgb(24, 33, 52);
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    padding: 2%;
    border-radius: 15px;
    cursor: pointer;
}
main button:hover{
    box-shadow: 1px 0px 8px 0px rgba(24,33,52,0.75)
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title h1{
    font-size: 2em;
    
    width: 100%;
}
.title button{
    transform: scale(.8)
}

.product-name, .product-brand {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding: 1%;
    align-items: flex-end;
    border-bottom: 1px solid #579981;
    
}

form label{
    font-size: 18px;
}


.product-name h2 {
    width: 23%;
    text-align: left;
    

}
.product-name input{

    width: 50%;
    margin: none;
    border: none;
   
    
    
}
.product-name button{

    margin-left: 10%;
}

.description-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}
.short-description, .long-description{
    width: 50%;
    padding: 1%;
}
.short-description label, .long-description label{
    margin-bottom: 15px;
}
.short-description textarea, .long-description textarea{
    all:unset;
    width: 100%;
    border: 1px solid #579981;
    border-radius: 10px;

  }
.product-img{
    width: 100%;
    padding: 1%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.product-img label{
    margin-right: 20px;
}
.product-img input{
    font-size: 16px;
}

.div-info{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.product-info{
    
    width: 25%;
    display:flex;
    padding: 1%;
    align-items: baseline;
}
.product-info label{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-right: 5px;
 }
.product-info input{
    justify-content: center;
    width: 50%;
    border-bottom: 1px solid #579981;
}
.product-price {
    label{
        width: 35%;
    }
    input{
        width: 65%;
    }
}
.product-amount{
    width: 50%;
    display: flex;
    padding: 1%;
    align-items: baseline;
}

.product-amount h2{
    width: 21%;
}
.product-amount input{
    width: 25%;
    border-bottom: 1px solid #579981;
}

.product-characteristics{
    width: 100%;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
.features-title{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    h2{
        margin-right: 10px;
    }
    button{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20px;
        width: 20px;
        padding: 7px;
        font-size: 16px;
        border-radius: 20%;
        
    }
}

.features-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;    
    margin-top: 15px;
}
.features-card{
    width: 30%;
    margin-right: 3%;
    background-color: #f8f8f8;
    box-shadow: #0002 0px 0px 10px;
    border-radius: 10px;
    padding: 15px;
       
}

.featured-items{
    list-style-type: circle;
}
.card-titles{
    width: 100%;
    select{
        border: unset;
        border-bottom: 1px solid #579981;
        width: inherit;
        height: 30px;
        background-color: transparent;
        font-size: 16px;
        font-weight: bold;
        color: var(--azul-oscuro-gotec);
                
        margin-bottom: 10px;
    }
}
.product-characteristics article{
    width: 33%;
}
.product-characteristics li{
    all: unset;
}

.li-characteristics{
    font-size: 16px;
    width: 50%;
    
}
.send-button{
    width: 100%;
    display: flex;
    justify-content: center;

}

@media (width <= 900px) {
    .product-name input{
        width: 30%;
}
}