/*------------ PRE CONFIG --------------*/
:root {
    --verde-gotec: #67b599;
    --verde-oscuro-gotec: #579981;
    --azul-gotec: #233d76;
    --azul-intermedio-gotec: #1f3566;
    --azul-oscuro-gotec:#182033;
    --blanco-gotec: #fff;
    --negro-gotec: #000;
    --gris-claro-gotec: #ebebeb;
    --gris-intermedio-gotec: #c0c0c0;
    --gris-oscuro-gotec: #666;
    --amarillo-gotec: #fbfd92;
    --violeta-gotec: #290147;
    --violeta-oscuro-gotec: #1b0030;
}

html {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    margin: 0;
    
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

.flx-r-w{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.flx-r-nw{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.flx-c-w{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.flx-c-nw{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

/* -----------------------HEADER----------------------- */

.header-main{
    width: 100vw;
    background-color: var(--azul-gotec);
}

/* ----INFORMATION---- */

.header-info-container{
    position: relative;
    width: inherit;
    height: 3vh;
    background-color: var(--verde-gotec);
    color: var(--gris-claro-gotec);
    font-size: 12px;
}

.tracking-icon{
    font-size: 12px;
    position: absolute;
    color: var(--blanco-gotec);
    color: var(--gris-claro-gotec);
    height: inherit;
    right: 0;
    margin-right: 10px;
}

.fa-location-crosshairs{
    margin-left: 5px;

}


/* ----MAIN HEADER SECTION---- */

.header-main-container{
    width: inherit;
    height: 15vh;
    background: linear-gradient(-25deg,#233d76 5%,#67b599 50%,#233d76 95%);
}

/* --LOGO-- */

.main-logo-container{
    width: 40%;
    height: 60%;
}

.main-logo-container img{
    width: 90%;
    max-width: 213px;
    max-height: 61px;
}

/* --SEARCH BAR-- */

.main-search-bar{
    width: 100%;
    height: 40%;
}

.search-label{
    position: relative;
    width: 80%;
    height: 80%;
}

#search-btn{
    width: 100%;
    height: 80%;
    border-radius: 10px;
    border: 1px solid transparent;
    padding-left: 10px;
}

#search-btn::placeholder{
    color: var(--gris-intermedio-gotec);
    font-size: 14px;
}

#search-btn:focus{
    outline: none;
    border: 1px solid var(--gris-oscuro-gotec);
}

.search-icon{
    cursor: pointer;
    position: absolute;
    font-size: 20px;
    width: 40px;
    height: 70%;
    right: 0;
    top: 15%;
    border-left: 1px solid var(--gris-claro-gotec);
    color: var(--gris-oscuro-gotec);
    background-color: var(--blanco-gotec);
    border-radius: 0 10px 10px 0;
}


/* --ICONS-- */

.main-icons-container{
    width: 60%;
    justify-content: space-evenly;
}

.mode-container{
    position: relative;
    width: 60px;
    height: 20px;
}

/* --DARK MODE BTN-- */

.dark-mode-btn {
    width: 50%;
    height: 90%;
    padding: 3px;
    background-color: var(--gris-claro-gotec);
    border-radius: 8.75px;
    box-shadow: var(--gris-oscuro-gotec) 0px 2px 10px inset;
    justify-content: flex-start;
    transition: all 0.3s linear;
    margin-right: 5px;
}

.dark-mode-btn div {
    width: 50%;
    height: 90%;
    background-color: var(--blanco-gotec);
    border-radius: 50%;
    box-shadow: var(--gris-oscuro-gotec) 0px 2px 10px;
}

#dark-mode-input{
    cursor: pointer;
    position: absolute;
    left: 0;
    width: 60%;
    height: inherit;
    opacity: 0;
}

.sun-icon{
    font-size: 16px;
    color: var(--amarillo-gotec) ;
}
.moon-icon{
    display: none;
    font-size: 16px;
    color: var(--gris-claro-gotec) ;
}

#dark-mode-input:checked~.dark-mode-btn {
    justify-content: flex-end;
}

#dark-mode-input:checked~.sun-icon{
    display: none;
}

#dark-mode-input:checked~.moon-icon{
    display:inline;
}

/* --HEART CART ICON-- */

.heart-icon,
.cart-icon{
    cursor: pointer;
    width: 30px;
    height: 40px;
    font-size: 22px;
    color: var(--gris-claro-gotec);
}

/* --USER PROFILE ICON-- */

.user-icon-container{
    cursor: pointer;
    position: relative;
    width: 50px;
    height: 50px;
}

.user-icon{
    width: inherit;
    height: inherit;
    border: 1px solid var(--azul-intermedio-gotec);
    border-radius: 50%;
    background-color: var(--gris-intermedio-gotec);
    color: var(--gris-oscuro-gotec);
    font-size: 30px;
}

.user-notifications{
    display: flex;
    position: absolute;
    width: 30%;
    height: 30%;
    top: 1%;
    right: 1%;
    border: 1.5px solid var(--verde-oscuro-gotec);
    background-color: var(--blanco-gotec);
    border-radius: 50%;
    font-size: 8px;
   

}

/* ----NAVBAR---- */

.header-nav{
    position: relative;
    width: inherit;
    height: 5vh;
    background-color: #bbe9d8;
    justify-content: space-between;

}

.menu-container{
    width: 20%;
    height: inherit;
    list-style: none;
    color: var(--gris-oscuro-gotec);
    font-weight: bold;
}

.menu-title{
    cursor: pointer;
    height: 100%;
}

.sub-menu-container{
    cursor:pointer;
    display: none;
    position: absolute;
    list-style: none;
    top: 100%;
    left: 0;
    background-color: #233d7680;
    width: 100%;
    padding-bottom: 15px;
}


.sub-menu-container li{
    display: flex;
    width: 100%;
    height: 40px;
    padding-left: 20px;
}

.sub-menu-container a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    color: var(--blanco-gotec);
    padding-bottom: 2px;
    border-bottom: 1px solid var(--gris-intermedio-gotec);
}

/* -----------------------MAIN SECTION----------------------- */

.main-section{
    width: 100vw;
    min-height: 77vh;
    /* min-height: 54vh; */
    background-color: white;
}

/* -----------------------FOOTER----------------------- */


.main-footer{
    width: 100vw;
    background: linear-gradient(#233d76 60%,#67b599 100%);
 }

.footer-main-section{
    width: inherit;
    height: 20vh;
    justify-content: space-evenly;
}

.footer-copyright-section{
    width: inherit;
    height: 3vh;
    font-size: 10px;
    color: var(--azul-oscuro-gotec);
}

/*---------- FOOTER LOGO CONTAINER------ */


.footer-logo-container{
    width: 40%;
    height: inherit;
    padding: 30px;
}

.footer-logo-container img{
    max-width: 100%;
    max-height: 100%;
}

/*---------- FOOTER MAIN CONTAINER------ */

.footer-main-container{
    width: 60%;
    height: inherit;
}

/* ----social media containers */

.footer-social-media-container{
    width: 100%;
    height: 50%;
    font-size: 25px;
    color: var(--gris-claro-gotec);
    justify-content: space-evenly;
    padding-top: 30px;
}

/* ----contact && brands containers */

.footer-info-container{
    width: 100%;
    height: 50%;
    order: 1;
}

.footer-info-list{
    width: 100%;
    height: 50%;
    font-size: 12px;
    padding: 0;
    list-style: none;
    justify-content: space-evenly;
}

.footer-info-list a{

    color: var(--gris-claro-gotec);
}

.footer-brands-container{
    display: none;
    width: 100%;
    height: 80%;
}

.carousel-brand-container{
    display: none;
    width: 90%;
    height: 60%;
    overflow: hidden;
    border-top: 1px solid var(--azul-oscuro-gotec);
    border-bottom: 1px solid var(--azul-oscuro-gotec);
}

.previous-icon,
.next-icon{
    height: 90%;
    width: 40px;
    font-size: 25px;
    color: var(--gris-claro-gotec);
}

.brands-img-container{
    margin: 0 10px;
    overflow: hidden;
}

.brands-img-container img{
    max-height: 4vh;
    margin: 10px;
}



/* -----------------------MEDIAS QUERIES----------------------- */

@media (width >= 660px){
    .main-logo-container{
        width: 30%;
    }

    .main-icons-container{
        width: 30%;
        order:1
    }

    .main-search-bar{
        width: 40%;
    }

    .search-label{
        width: 90%;
    }

    .menu-container{
        position: relative;
    }

    .sub-menu-container{
        left: unset;
        width: 100%;
    }

    .sub-menu-container li{
        justify-content: center;
        padding-left: 0;
    }

    .sub-menu-container a{
        justify-content: center;
        width: 80%;
    }

    .footer-logo-container{
        width: 20%;
    }

    .footer-main-container{
        width: 80%;
    }

    .footer-social-media-container{
        width: 30%;
        height: 100%;
        padding: 0;
    }
        
    .footer-info-container{
        width: 70%;
        height: 100%;
        order: 0;
    }

    .footer-info-list{ 
        height: 20%;
        justify-content: center;
        align-items: flex-end;
    }

    .footer-info-list li{ 
        margin: 0 30px;
    }

    .footer-brands-container{
        display: flex;        
    }
    
    .carousel-brand-container{
        display: flex;
    }


}



/* ----------------- MAIN ----------------  */

.tu-carrito {
    margin-top: 20px;
    margin-left: 40px;
    color: var(--gris-oscuro-gotec);
}



th {
    color: var(--gris-oscuro-gotec);
}

table {
    width: 60%; /* ancho de la tabla */
    margin-right: 100px;
    margin-left: 40px;
    margin-top: 40px;
    border-collapse: collapse;
    flex: 1;
}

th, td {
    padding: 10px 80px; /* espacio interno de las celdas */
    text-align: center;
    border-bottom: 1px solid var(--gris-intermedio-gotec);
}


.eliminar {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--azul-oscuro-gotec);
    color: white;
    border: none;
    border-radius: 10px;
}

.icon-button {
    padding: 5px;
    background-color: var(--azul-oscuro-gotec);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


@media (max-width: 600px) {
    table {
        width: 100%;
    }
}

.tu-compra {
    color: var(--gris-oscuro-gotec);
}

.cart-container {
    display: flex;
}



.coupon {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.coupon input {
    padding: 5px;
    margin-right: 10px;
}

.coupon button {
    padding: 5px 15px;
    background-color: var(--azul-oscuro-gotec);
    color: white;
    border: none;
    cursor: pointer;
    margin-left: auto;
    transition-property: var(--azul-oscuro-gotec);
    transition-duration: 0.5s;
}

.cupon button:hover {
    background-color: var(--azul-gotec);
    color: white;
}

.article-container {
    background-color: #f2f2f2;
    border: none;
    width: 20%;
    padding: 20px;
    margin-right: 100px;

}

.cupon-descuento {
    font-size: 10px;
    border-color: var(--gris-oscuro-gotec);
}

.total {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
    margin-top: 30px;
    margin-bottom: 40px;
}

.subtotal {
    font-style: normal;
    font-size: 18px;
    padding: 10px 0;
    margin-top: 30px;

}


.button-container button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    color: white;
    border: none;
    cursor: pointer;
    padding: 8px 20px;
}

.pago {
    background-color: var(--azul-oscuro-gotec);
    transition-property: var(--azul-oscuro-gotec);
    transition-duration: 0.5s;
}

.pago:hover {
    background-color: var(--azul-gotec);
    color: white;
}

.elegir {
    background-color: var(--gris-intermedio-gotec);
    transition-property: var(--gris-intermedio-gotec);
    transition-duration: 0.5s;
}

.elegir:hover {
    background-color: var(--azul-gotec);
    color: white;
}

.line {
    border-top: 1px solid var(--gris-intermedio-gotec);
    margin: 10px 0;
}



.footer-container {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    padding: 30px 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
}

.footer-item {
    padding: 10px 20px;

}

.fa-truck, .fa-credit-card, .fa-rotate {
    color: var(--azul-oscuro-gotec);
}
