<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
    <link rel="stylesheet" href="/css/forms.css">
</head>
<body class="flx-r-w">

    <%- include("./partials/userOptions.ejs") %>

    <%- include("./partials/header.ejs") %>
    
    <main class="main-section flx-r-w">
        <article class="beside flx-r-w">
            <img src="/img/logo-horizontal.png" alt="logo image" id="logo-beside">
        </article>
        <form class="register-form flx-c-w" action="/users/processLogin" method="post">
          
            <div class="profile-img-section flx-c-w">
              <div class="profile-img-container">
                <img src="/img/user-img.svg" alt="user-image" id="profile-img">
              </div>
            </div>
  
            <h3 class="personal-info-tittle">Log In</h3>
  
            <div class="input-container flx-c-w" id="user-name-conatiner">
              <input class="input-config" type="text" name="userName" id="user-Name" required>
              <label class="label-config user-name-label" for="user-Name">Nombre de Usuario</label>
            </div>
            <div class="input-container flx-c-w" id="user-password-conatiner">
              <input class="input-config" type="password" name="password" id="user-password" required>
              <label class="label-config user-password-label" for="user-password">Contraseña</label>
            </div>
  
            <section class="option-container flx-r-w">
              <div class="rememberme-container switch-container flx-r-nw">
                <input type="checkbox" class="switch-input" name="remembermeBtn" id="rememberme-button">
                <label class="switch-label" for="rememberme-button">Remember Me</label>
                <div class="switch-button flx-r-nw">
                  <div></div>
                </div>
              </div>
              <div class="forgot-container">
                <a href="#">Forgot Password?</a>
              </div>
  
            </section>
   
            <div class="input-container flx-r-nw" id="forms-bts-container">
              <button  type="submit" id="login-btn">Ingresar</button>
            </div>
  
          </form>
    </main>

    <%- include("./partials/footer.ejs") %>

    <!-- Scripts JS -->
    <script src="/DOM-Controllers/darkmode"></script>
    <script src="/DOM-Controllers/subMenues"></script>
</body>
</html>

