<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
    <link rel="stylesheet" href="/css/productDetail.css" />
  </head>
  <body>
    <%- include("./partials/header.ejs") %>

    <main class="main-section flx-r-w">
      <div class="noEncontradaContainer flx-r-w">
        <img src="/img/homero2.png" alt="Homero2" />
        <h1 class="flx-r-nw">D'OH!</h1>
        <p class="flx-r-nw">Lo siento, no encontramos esta página</p>
        <a href="/" class="btn flx-r-nw">Volver al inicio</a>
      </div>
    </main>

    <%- include("./partials/footer.ejs") %>

    <!-- Scripts JS -->
    <script src="/DOM-Controllers/darkmode"></script>
  </body>
</html>