<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
    <link rel="stylesheet" href="/css/productDetail.css">
</head>
<body>

    

    <%- include("./partials/header.ejs") %>

    <main class="main-section flx-r-w">
        <h1>Error 404 - Page Not Found</h1>
    </main>

    <%- include("./partials/footer.ejs") %>

    <!-- Scripts JS -->
    <script src="/DOM-Controllers/darkmode"></script>
    <script src="/DOM-Controllers/darkmode/productDetail"></script>
    <script src="/DOM-Controllers/subMenues"></script>
</body>
</html>