<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
    <link rel="stylesheet" href="/css/productDetail.css">
</head>
<body>

    

    <%- include("./partials/header.ejs") %>

    <main class="main-section flx-r-w">
        <div class="container">
            <img src="img/homero.png" alt="Homero">
            <h1>D'OH!</h1>
                <p>Parece que te has perdido...</p>
                <a href="/" class="btn">Volver al inicio</a>
            </div>
        </div>
    </main>

    <%- include("./partials/footer.ejs") %>

    <!-- Scripts JS -->
    <script src="/DOM-Controllers/darkmode"></script>
    <script src="/DOM-Controllers/darkmode/productDetail"></script>
    
</body>
</html>