<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/productDetail.css">
</head>
<body>
    <section class="entry-options flx-r-w">
        <button id="btn-exit-entry">
            <i class="fa-solid fa-x"></i>
        </button>
        
        <a href="/register" class="flx-r-w">
            <button id="btn-register">Registrate Ahora</button>
        </a>
        <a class="main-logo-container entry-logo flx-r-w" href="/">
            <img src="/img/logo-horizontal-blanco.png" alt="">
        </a>
        <a href="/login" class="flx-r-w">
            <button id="btn-login">¿Ya tenés Cuenta?</button>
        </a>
    </section>

    <%- include('./partials/header.ejs') %>

    <main class="main-section flx-r-w">

        <section class="info-item-container flx-r-w">

            <article class="product-img-container flx-r-w">
                <img src="/img/Imagenes-Index/gabinete.png" alt="">
                <i class="like-img-icon fa-regular fa-heart flx-r-w"></i>
                <div class="controller-img-container flx-r-w">
                    <div id="img-1"></div>
                    <div id="img-2"></div>
                    <div id="img-3"></div>
                    <div id="img-4"></div>
                </div>
            </article>

            <article class="product-info-container flx-r-w">

                <div class="product-title-section flx-r-w">
                    <p class="product-title">Zapatilla X</p>
                    <p class="product-description">
                        <span class="description-title">Descripción:</span> <span class="description-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit cumque esse vero dignissimos maxime, adipisci dolore sit?</span>
                    </p>
                </div>

                <div class="product-quantity-quality-section flx-r-w">
                    <div class="quantity-container flx-r-w">
                        <i class="minus-icon fa-solid fa-minus flx-r-w"></i>
                        <input type="number" class="quantity-input" value="1" oninput="return false;">
                        <i class="plus-icon fa-solid fa-plus flx-r-w"></i>
                    </div>
                    <p class="rest-quantity">Quedan 3 unidades</p>
                    <div class="quality-container flx-r-w">
                        <img src="/img/star-svgrepo-com.svg" alt="">
                        <img src="/img/star-svgrepo-com.svg" alt="">
                        <img src="/img/star-svgrepo-com.svg" alt="">
                        <img src="/img/star-svgrepo-com.svg" alt="">
                        <img src="/img/star-svgrepo-com.svg" alt="">
                    </div>
                </div>

                <div class="product-price-section flx-r-w">
                    <p class="product-price">25.000</p>
                    <p class="product-payment-details">Mismo Precio en 6 cuotas</p>
                </div>

                <div class="product-btns-section flx-r-w">
                    <button class="btn-buy flx-r-w">Comprar Ahora</button>
                    <button class="btn-add-cart flx-r-w">Agregar al Carrito</button>
                </div>

            </article>

        </section>

        <section class="feature-item-container flx-r-w">
            <h3>Características</h3>
            <label for="display-btn"></label>
            <input type="checkbox" class="display-btn" id="display-btn">
            <div class="all-feature-container flx-r-w">
                <article class="item-feature flx-c-w">
                    <div class="feature-title flx-r-w">
                        <i class="fa-solid fa-memory"></i>
                        <h4>Memoria RAM</h4>
                    </div>
                    <ul class="feature-list flx-c-w">
                        <li>Capacidad: 8 Gigas</li>
                        <li>Formato: SODIMM</li>
                        <li>Expandible: No</li>
                    </ul>
                </article>
                <article class="item-feature flx-c-w">
                    <div class="feature-title flx-r-w">
                        <i class="fa-solid fa-microchip"></i>
                        <h4>Procesador</h4>
                    </div>
                    <ul class="feature-list flx-c-w">
                        <li>Intel: Core i3</li>
                        <li>Modelo: 1115G4</li>
                        <li>Núcleos: 2</li>
                        <li>Frecuencia: 4.10Ghz</li>
                        <li>Caché: 6Mb Cache</li>
                    </ul>
                </article>
                <article class="item-feature flx-c-w">
                    <div class="feature-title flx-r-w">
                        <i class="fa-solid fa-display"></i>
                        <h4>Pantalla</h4>
                    </div>
                    <ul class="feature-list flx-c-w">
                        <li>Tamaño: 14.1"</li>
                        <li>Resolucion: 1920x1080</li>
                        <li>Tecnologia: FHD</li>
                    </ul>
                </article>
                <article class="item-feature flx-c-w">
                    <div class="feature-title flx-r-w">
                        <i class="fa-brands fa-windows"></i>
                        <h4>Sistema Operativo</h4>
                    </div>
                    <ul class="feature-list flx-c-w">
                        <li>Windows 11: Home</li>
                        <li>Versión: 64-bits</li>
                    </ul>
                </article>
                <article class="item-feature flx-c-w">
                    <div class="feature-title flx-r-w">
                        <i class="fa-solid fa-hard-drive"></i>
                        <h4>Almacenamiento</h4>
                    </div>
                    <ul class="feature-list flx-c-w">
                        <li>Disco Sólido: 256Gb</li>
                    </ul>
                </article>
            </div>
        </section>

        <section class="details-item-container flx-r-w">
            <h3>Detalles</h3>
            <label for="display-btn"></label>
            <input type="checkbox" class="display-btn" id="display-btn">
            <p class="item-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quibusdam suscipit expedita consequatur cupiditate earum iure soluta at, corporis aliquam unde voluptas ratione pariatur eum tenetur! Dolorem quo nihil reprehenderit?
            Adipisci dolorum, cupiditate sapiente placeat possimus voluptatibus aliquid voluptate unde inventore, voluptatum sunt modi? Id sapiente corrupti earum ab est. Nulla unde ullam tenetur totam id odit pariatur molestias facere.

            </p>
        </section>

        <section class="comments-item-container flx-r-w">
            <h3>Comentarios</h3>
            <label for="display-btn"></label>
            <input type="checkbox" class="display-btn" id="display-btn">
            <div class="all-coments-container flx-r-w">
                <article class="coment-container flx-c-w">
                    <div class="coment-user-info flx-r-w">
                        <i class="user-coment-icon fa-solid fa-user flx-r-w"></i>
                        <h4>Nombre de Usuario</h4>
                        <div class="user-score">
                            <div class="score-star">
                                <img  src="/img/star-svgrepo-com.svg" alt="">
                            </div>
                            <p class="flx-c-w">5</p>
                        </div>
                    </div>

                    <p class="coment-contain">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam aspernatur unde placeat totam quos odio, quae autem provident. Nihil, tempore? Possimus facilis, saepe quia ut cum incidunt omnis ex rerum!
                    </p>
                </article>
                <article class="coment-container flx-c-w">
                    <div class="coment-user-info flx-r-w">
                        <i class="user-coment-icon fa-solid fa-user flx-r-w"></i>
                        <h4>Nombre de Usuario</h4>
                        <div class="user-score">
                            <div class="score-star">
                                <img  src="/img/star-svgrepo-com.svg" alt="">
                            </div>
                            <p class="flx-c-w">5</p>
                        </div>
                    </div>

                    <p class="coment-contain">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam aspernatur unde placeat totam quos odio, quae autem provident. Nihil, tempore? Possimus facilis, saepe quia ut cum incidunt omnis ex rerum!
                    </p>
                </article>
                <article class="coment-container flx-c-w">
                    <div class="coment-user-info flx-r-w">
                        <i class="user-coment-icon fa-solid fa-user flx-r-w"></i>
                        <h4>Nombre de Usuario</h4>
                        <div class="user-score">
                            <div class="score-star">
                                <img  src="/img/star-svgrepo-com.svg" alt="">
                            </div>
                            <p class="flx-c-w">5</p>
                        </div>
                    </div>

                    <p class="coment-contain">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam aspernatur unde placeat totam quos odio, quae autem provident. Nihil, tempore? Possimus facilis, saepe quia ut cum incidunt omnis ex rerum!
                    </p>
                </article>
                <article class="coment-container flx-c-w">
                    <div class="coment-user-info flx-r-w">
                        <i class="user-coment-icon fa-solid fa-user flx-r-w"></i>
                        <h4>Nombre de Usuario</h4>
                        <div class="user-score">
                            <div class="score-star">
                                <img  src="/img/star-svgrepo-com.svg" alt="">
                            </div>
                            <p class="flx-c-w">5</p>
                        </div>
                    </div>

                    <p class="coment-contain">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam aspernatur unde placeat totam quos odio, quae autem provident. Nihil, tempore? Possimus facilis, saepe quia ut cum incidunt omnis ex rerum!
                    </p>
                </article>
            </div>

        </section>

    </main>

    <%- include('./partials/footer.ejs') %>

    <!-- Scripts JS -->
    <script src="/darkmode-controller"></script>
    <script src="/darkmode-ptodcut-detail-controller"></script>
    <script src="/submenu-controller"></script>
</body>
</html>