<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
</head>
<body class="flx-r-w">

    <%- include('./partials/userOptions.ejs') %>

    <%- include('./partials/header.ejs') %>

    <main class="main-section flx-r-w">
        <article class="beside flx-r-w">
            <img src="/img/logo-horizontal.png" alt="logo image" id="logo-beside">
        </article>
        <form class="register-form flx-c-w" action="/users/register-form" method="post" enctype="multipart/form-data">

            <div class="profile-img-section flx-c-w">
              <div class="profile-img-container">
                <img src="/img/user-img.svg" alt="user-image" id="profile-img">
              </div>
              <input type="file" id="add-img" name="profileImg" accept=".jpg, .jpeg, .png">
              <label class="flx-c-w" for="add-img">
                <i class="fa-solid fa-pencil"></i>
              </label>
            </div>
        
            <h3 class="personal-info-tittle">Información Personal</h3>
        
            <div class="input-container flx-c-w" id="full-name-container">
                <input class="input-config" type="text" name="fullName" id="full-Name" required>
                <label class="label-config full-name-label" for="full-Name">Nombre y Apellido *</label>
            </div>
         
            <div class="input-container flx-c-w" id="user-email-container">
                <input class="input-config" type="email" name="userEmail" id="user-Email" required>
                <label class="label-config user-email-label" for="user-Email">Email *</label>
            </div>
            <div class="input-container flx-c-w" id="user-birthday-container">
                <input class="input-config" type="date" name="userBirthday" id="user-Birthday" required>
                <label class="label-config user-birthday-label" for="user-Birthday">Fecha de Nacimiento *</label>
            </div>
            <div class="input-container flx-c-w" id="user-adress-container">
                <input class="input-config" type="text" name="userAdress" id="user-Adress">
                <label class="label-config user-adress-label" for="user-Adress">Domicilio</label>
            </div>
        
            <h3 class="profile-tittle">Perfil de Usuario</h3>
            
            <div class="input-container flx-c-w" id="user-name-conatiner">
              <input class="input-config" type="text" name="userName" id="user-Name" required>
              <label class="label-config user-name-label" for="user-Name">Nombre de Usuario *</label>
            </div>
            <div class="input-container flx-c-w" id="user-password-conatiner">
              <input class="input-config" type="password" name="password" id="user-password" required>
              <label class="label-config user-password-label" for="user-password">Contraseña *</label>
            </div>
            <div class="input-container flx-c-w" id="user-confirm-pass-conatiner">
              <input class="input-config" type="password" name="confirmPassword" id="user-confirm-pass" required>
              <label class="label-config user-confirm-pass-label" for="user-confirm-pass">Confirmar Contraseña *</label>
            </div>

            <div class="input-container flx-r-nw" id="forms-bts-container">
              <button  type="submit" id="submit-btn">Crear Usuario</button>
              <button type="reset" id="reset-btn">Borrar</button>
            </div>
        </form>
    </main>

    <%- include('./partials/footer.ejs') %>

    <!-- Scripts JS -->
    <script src="/DOM-Controllers/darkmode"></script>
    <script src="/DOM-Controllers/subMenues"></script>
</body>
</html>


