<header class="header-main flx-c-w">
  <section class="header-info-container flx-r-w">
    <p>Información Importante</p>
    <a class="tracking-icon flx-r-w" href="">
      Tracking
      <i class="fa-solid fa-location-crosshairs flx-r-w"></i>
    </a>
  </section>

  <section class="header-main-container flx-r-w">
    <a class="main-logo-container flx-r-w" href="/">
      <img src="/img/logo-horizontal-blanco.png" alt="" />
    </a>

    <div class="main-icons-container flx-r-w">
      <div class="mode-container flx-r-w">
        <input type="checkbox" name="darkMode" id="dark-mode-input" />
        <div class="dark-mode-btn flx-r-nw">
          <div></div>
        </div>
        <i class="sun-icon fa-solid fa-sun"></i>
        <i class="moon-icon fa-solid fa-moon"></i>
      </div>
      <i class="heart-icon fa-solid fa-heart flx-r-w" id="heartIcon"></i>
      <i class="cart-icon fa-solid fa-cart-shopping flx-r-w" id="cart-icon"></i>
      <i class="login-icon fa-solid fa-right-to-bracket flx-r-w">
        <%- include("./userOptions.ejs") %>
      </i>
      <div class="user-icon-container">
        <i class="user-icon fa-solid fa-user flx-r-w"></i>
        <p class="user-notifications flx-r-w">00</p>
      </div>
    </div>

    <div class="main-search-bar flx-r-w">
      <label class="search-label flx-r-w" for="search-btn">
        <input
          type="text"
          name=""
          id="search-btn"
          placeholder="Busqueda de Productos"
        />
        <i class="search-icon fa-solid fa-magnifying-glass flx-r-w"></i>
      </label>
    </div>
  </section>

  <nav class="header-nav flx-r-w">
    <ul class="menu-container flx-c-w">
      <li
        class="menu-title flx-r-nw"
        onclick="subMenuController(this)"
        status="false"
      >
        CATEGORIAS <i class="fa-solid fa-chevron-down"></i>
      </li>
      <ul class="sub-menu-container flx-c-w">
        <% globalData.allCategories.forEach(category => { %>
        <li>
          <a href=""><%= category.categoryTitle %></a>
        </li>
        <% }) %>
      </ul>
    </ul>
    <% globalData.showCategories.forEach(category => { %>
    <ul class="menu-container flx-c-w">
      <li
        class="simple-menu-title flx-c-w"
        onclick="subMenuController(this)"
        status="false"
      >
        <a href=""><%= category.categoryTitle %></a>
      </li>
    </ul>
    <% }) %>
  </nav>
</header>
<script src="/DOM-Controllers/header"></script>
