<section class="entry-options flx-r-w">
    <button id="btn-exit-entry">
        <i class="fa-solid fa-x"></i>
    </button>
    
    <a href="/register" class="flx-r-w">
        <button id="btn-register">Registrate Ahora</button>
    </a>
    <a class="main-logo-container entry-logo flx-r-w" href="/">
        <img src="/img/logo-horizontal-blanco.png" alt="">
    </a>
    <a href="/login" class="flx-r-w">
        <button id="btn-login">¿Ya tenés Cuenta?</button>
    </a>
</section>