<section class="entry-options flx-c-nw">
    <a href="/users/register" class="flx-c-nw" id="btn-register">
        Sign Up
    </a>
    <a href="/users/login" class="flx-c-nw" id="btn-login">
        Log In
    </a>
</section>
